{{/*
SPDX-FileCopyrightText: Pablo Marcos <kde@pablomarcos.me>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}
{{ define "main" }}
  <main class="container" role="main">
  <h1> {{ .Params.title }} </h1>
   {{ range .Params.faq }}
     </br>
     <details>
       <summary>{{ .question | markdownify}}</summary>
       <p> {{ .answer | markdownify}} </p>
     </details>
    {{ end }}
  </main>
{{ end }}

