{{/*
SPDX-FileCopyrightText: Pablo Marcos <kde@pablomarcos.me>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}
<div>
<ul class="navbar-nav mr-auto">
  <ul class="navbar-nav mr-auto">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle{{ if $currentPage.HasMenuCurrent "main" . }} active{{ end }}" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span>{{ .Name }}</span>
        </a>
        <div class="dropdown-menu">
          {{ range .Children }}
            <a class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }} dropdown-item"
               href="{{ .URL }}">{{ .Name }}
            </a>
          {{ end }}
        </div>
      </li>
    {{ else }}
      <li class="nav-item">
        <a class="nav-link{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}" href="{{ .URL }}">
          <span>{{ .Name }}</span>
        </a>
      </li>
    {{ end }}
  {{ end }}
</ul>
</ul>
</div>
<div>
<div>
    <form action="{{ "search" | absURL }}" class="form-inline">
      <input id="search-query" class="form-control" name="s" type="text" size="8rem" name="keyword" value="" placeholder="{{ i18n "Search.placeholder" }}" data-search="" id="search-box"/>
</form>
</div>
</div>
<ul class="navbar-nav ml-auto">
  {{ if .IsTranslated }}
    <li class="nav-item dropdown" aria-describedby="language-picker-description">
      <p class="sr-only" id="language-picker-description">{{ i18n "Select-your-language" }}</p>
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="/aether/languages.png" alt="" />
        <span>{{ i18n "translations" }}</span>
      </a>
      <div class="dropdown-menu dropdown-trans" role="listbox">
        <a class="dropdown-item" hreflang="{{ .Language.Lang }}" role="option" lang="{{ .Language.Lang }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        {{ $firstLang := .Sites.First.Language.Lang }}
        {{ if ne .Language.Lang $firstLang }}
        {{ with index .AllTranslations 0 }}
        <a class="dropdown-item" hreflang="{{ .Language.Lang }}" role="option" lang="{{ .Language.Lang }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        {{ end }}
        {{ end }}
        {{ range sort (where .Translations "Language.Lang" "!=" $firstLang) "Language.LanguageName" }}
        <a class="dropdown-item" hreflang="{{ .Language.Lang }}" role="option" lang="{{ .Language.Lang }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        {{ end }}
      </div>
    </li>
  {{ end }} 
</ul>
</div> 
